#main1 {
  width: 100%;
  height: 100%;
  background-color: white;
  float: left;
}
#main1 p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.countbtn {
  background-color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}
.countbtn :hover {
  cursor: pointer;
}
#mid-container {
  width: 52%;
}
