#main1 {
  width: 100%;
  background-color: white;
  height: max-content;
  float: none;
}

#main1 p {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
#notfounddetail {
  color: grey;
}
