.products {
  background-color: white;
  width: 100%;
  align-items: center;
  height: max-content;
  float: none;
}

.Slider {
  width: 100%;
  height: fit-content;
}
#slide-img {
  margin: auto;
  width: 300px;
  height: 300px;
}

img {
  object-fit: contain;
}

#cutit {
  text-decoration: line-through;
}

.prodetail a b {
  color: black;
  text-decoration: none;
}

.prodetail a {
  color: white;
  text-decoration: none;
}

.hero-button-col,
.view-desc {
  margin-left: auto;
  margin-right: auto;
}

.wi_shbtn {
  margin-left: 75%;
}

.wishbtn {
  background-color: white;
  border: none;
  cursor: default;
  margin-left: 10%;
  width: fit-content;
  height: fit-content;
}
.shbtn {
  background-color: white;
  border: none;
  cursor: default;
  width: fit-content;
  margin-left: 10%;
  height: fit-content;
}

.chartbox {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  height: fit-content;
  width: fit-content;
}

button {
  cursor: default;
}
#mid-container {
  width: 52%;
}
