#full-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}
#footer h4 {
  color: white;
}
footer {
  background: #111;
  height: 13%;
  width: 100%;
  padding-top: 10px;
  color: #fff;
}
.footer-content {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1rem;
}
.footer-content p {
  opacity: 70%;
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}

.footer-menu {
  float: right;
}
.footer-menu ul {
  display: flex;
}
.footer-menu ul li {
  padding-left: 10px;
  margin-right: 20px;
  display: block;
}
.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: grey;
}

#playstore {
  height: 70px;
}

@media (max-width: 100%) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 200px;
  }
}
.footer-menu p {
  text-decoration: none;
}
