#main2 {
  align-items: center;
  width: 100%;
  float: none;
  height: fit-content;
}
.Slider {
  width: 100%;
  height: fit-content;
}
#slide-img {
  margin: auto;
  width: 90%;
  height: 400px;
}

img {
  object-fit: contain;
}
